

* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box ;
  -moz-box-sizing:border-box ;
  -o-box-sizing:border-box ;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: "Work Sans", sans-serif;
}

.countiner {
  margin: 0 auto;
  padding: 0 15px;
  
}

/*small*/
@media (min-width:768px){
  .countiner{
    width: 750px;
  }
}

/*medium*/
@media (min-width:992px){
  .countiner{
    width: 950px;
  }
}

/*large*/
@media (min-width:1220px){
  .countiner{
    width: 1100px;
  }
}


:root {
  --main-color:rgb(16 201 183);
  --padding-sections:60px 0;
  --line-h: 1.6;
  --margin-section:100px;
  --main-transition: 0.3s;
}


/*--------start header---------*/

header{
  background-color: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  z-index: 99;
}
header .countiner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 70px;
  height: 30px;  
}

.list{
  display: flex;
  flex-direction: column;
  align-items: end;
}


.list div {
  width: 25px;
  height: 2px;
  background-color:black ;
  transition: var(--main-transition);
}

.list:hover div:nth-child(2){
   width: 100%;
}

.list div:nth-child(2){
  width: 15px;
}

.list div:not(:nth-child(3)){
  margin-bottom: 4px;
}

.links {
  position: relative;
}

.links ul {
  list-style:none ;
  position: absolute;
  right: 0px;
  top: 29px;
  background-color:rgb(235 235 235);
  padding: 0;
  margin: 0;
  min-width: 200px;
  border-radius: 1px;
  display: none;
  z-index: 9999;
}

.links ul::before{
  content: "";
  border: 10px solid;
  border-color: transparent transparent rgb(235 235 235) transparent;
  top: -18px;
  right: 4px;
  position: absolute;

}

.links ul li{
  padding: 15px;
  
}

.links ul li:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.links ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  transition:var(--main-transition) ;
}

.links ul li a:hover{
  padding-left: 15px;
}

.links{ 
  transition:var(--main-transition) ;
}
.links:hover ul{
  display: block;
} 
/*--------end header---------*/

/*--------start landing ---------*/
.landing {
  position: relative;
  background-image: url(../images/image1.jpg);
  background-size: cover;
  height: 500px;
}

.landing div{
  top: 36%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-transform: capitalize;
  text-align: center;
  width: 350px;
  max-width: 100%;
}
.landing div h3 {
  margin: 0;
  color: var(--main-color);
  
  font-size:50px;
  text-shadow: 1px 1px 2px #000;
  
}
.landing div p {
 font-weight: 400;
 line-height: var(--line-h);
 
}
/*--------end landing---------*/

/*--------start features---------*/
.features{
  padding: var(--padding-sections);
  background-color: rgb(235 235 235);
}
.features .countiner {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
  grid-gap: 20px ;
}
.features .countiner .feat{
 text-align: center;
 padding: 20px;
}
.features .countiner .feat i {
  color: var(--main-color);
  font-size:40px;
}
.features .countiner .feat h3 {
  color: rgb(58 65 75);
  font-size:15px;
  text-transform: capitalize;
}

.features .countiner .feat p {
  color: hsl(0, 0%, 39%);
  font-size:15px;
  line-height: 23px;
  line-height: var(--line-h);
}

/*--------end features---------*/

/*-------- component---------*/
.component {
text-align: center;
position: relative;
padding:0;
}
.component h3{
font-size: 80px;
text-transform: uppercase;
margin: 0;
color: rgb(235 236 238);

}
.component p{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  margin: 0;
  font-size:medium;
  color: hsl(0, 0%, 27%);
}

@media (max-width:768px){
  .component h3{
    font-size: 60px;
    
}
.component p{
  font-size: 15px;
}
}

/*-------- component---------*/

/*-------- start services---------*/

.services{
  padding: var(--padding-sections);
}

.services .serv{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
  grid-gap: 30px ;
  margin-top: var(--margin-section);
}

.serv .serv-card{
  display: flex;
  margin-bottom: 40px;
}
@media (max-width:768px){
  .serv .serv-card{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.serv-card i{
  flex-basis: 70px;
  color: var(--main-color);
  font-size: 35px;
}
.serv-card .text{
  flex: 1;
}
.text h3{
  margin-top: 0;
  color: rgb(58 65 75);
  font-size:15px;
  text-transform: capitalize;
}

.text p{
  color: hsl(0, 0%, 39%);
  font-size:15px;
  line-height: 23px;
  line-height: var(--line-h);
}

.col-image img{
  width: 240px;
  border-radius: 3px;
  }
  .col-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .col-image::before{
    content: "";
    position: absolute;
    background-color: rgb(44 72 86);
    width: 115px;
    height: 400px;
    right: 0px;
    z-index: -1;
    border-radius: 1px;
  }
  @media (max-width:1220px){
    .col-image{
      display: none;
    }
  }


/*-------- end services---------*/

/*-------- start portfolio---------*/

.portfolio{
  padding: var(--padding-sections);
  background-color: rgb(235 235 235);
}
.portfolio .component h3 {
color: rgb(248, 248, 248);
}

.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
  grid-gap: 30px ;
  margin-top:var(--margin-section);
}

@media (max-width:768px){
  .portfolio-content .proj{
    text-align: center;
  }
}
.portfolio-content .proj img{
  width: 100%;
}

@media (max-width:768px){
  .portfolio-content .proj img{
    width: 60%;
  }
}
.portfolio-content .proj h3{
  color: rgb(58 65 75);
  font-size:15px;
  text-transform: capitalize;
}
.portfolio-content .proj p{
  color: hsl(0, 0%, 39%);
  font-size:15px;
  line-height: 23px;
  line-height: var(--line-h);
}

/*-------- end portfolio---------*/


/*-------- start about---------*/
.about{
  padding: var(--padding-sections);
  padding-bottom: 80px;
}

.about .about-content{
  margin-top: var(--margin-section);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-content  .image{
  width: 244px;
  height: 325.33px;
  position: relative;
}

.about-content .image img {
  max-width: 100%;
  border-radius: 3px;
}

.about-content .image::before{
  content: "";
  position: absolute;
  border-bottom: 70px solid var(--main-color);
  border-left: 90px solid var(--main-color);
  height: 237px;
  width: 100px;
  top: -28px;
  right: -139px;
  z-index: -1;
}



.about-content .text p:first-of-type{
  color: rgb(58 65 75);
  font-size:15px;
  line-height: 23px;
  line-height: var(--line-h);
  font-weight: bold;
  margin-bottom: 40px;
}
.about-content .text hr{
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
  
}

.about-content .text p:last-of-type{
  color: rgb(58 65 75);
  font-size:12px;
  line-height: 23px;
  line-height: var(--line-h);
  
}

.about-content .text {
  flex-basis: calc(100% - 500px);
}

@media (max-width:991px) {
  .about-content  {
    flex-direction: column;
    text-align: center;
  }

  .about-content .text {
    margin-top: 20px;
  }

  .about-content .image {
    margin: 0 auto;
  }
  .about-content .image::before {
    display: none;
  }
}
/*-------- end about---------*/

/*-------- statr contact---------*/
.contact{
  padding: var(--padding-sections);
  padding-bottom: 80px;
}
.contact-content{
  margin-top: var(--margin-section);
}

.contact-content h4{
  font-size: 38px;
  color: rgb(49 74 92);
  font-weight: 900;
  margin-bottom: 15px;
  padding-left: 45px;
}
.contact-content a{
  text-decoration: none;
  
}
.contact-content a h3{
 
  color: var(--main-color);
  font-weight: 800;
  font-size: xx-large;
  padding-left: 75px;
  margin: 0;
  margin-bottom: 40px;
}

.contact-content p{
  color: rgb(58 65 75);
  font-size: 14px;
  display: inline-block;
  line-height: var(--line-h);
  padding-left: 120px;
}

.contact-content .social{
  display:inline-block;
  
}

.contact-content .social a{
  margin: 10px;
  font-size: 20px;
  color: rgb(49 74 92);
  transition: var(--main-transition);
}

.contact-content .social a:hover{
  font-size: 23px;
  color: var(--main-color);
  
}


@media (max-width:768px) {
 
.contact-content{
  text-align: center;
}

.contact-content h4{
  font-size: 38px;
  padding-left: 0px;
}

.contact-content a h3{
  font-size: x-large;
  padding-left: 0px;
}

.contact-content p{
  font-size: 12px;
  padding-left: 0px;
}

.contact-content .social{
  display:block;
  
}

.contact-content .social a{
  
  font-size: 20px;
}


}


/*-------- end contact---------*/

/*-------- statr footer---------*/
footer{
  background-color: rgb(44 72 86);
  padding: 20px 0px;
}
footer .countiner p{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}
footer .countiner span{
  color: var(--main-color);
}
/*-------- end footer---------*/
